.error_campo_texto{

    color:#ff0000;
    font-weight:bold;
}

.error, .ok{
    font-weight:bold;
    color:#fff;
}
.error{
    background:#ff0000;
}
.ok{
    background:#00ff00;
}

.campo{
    clear:both;
    padding: 5px 0;
}

.campo > label, .campo > input{
    float:left;
}

.campo > label{
    width: 70px;
    display:block;

}

.exito {
    background: #77d177;
    color: #fff;
    font-weight: bold;
    padding: 0 5px;
    text-align: center;
    border-radius: 15px;
    margin-bottom: 10px;
}